<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Principal</title>
<meta charset="utf-8">
<meta name="keywords" content="chat, social, amigos">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0;">
<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">


<link rel="stylesheet", href="css/home.css"></link>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>
<body>
    <header class="header">
        <span id="toggle-menu" class="material-icons menu">menu</span>
        <span id="toggled-menu" class="material-icons menu">menu_open</span>
        <div class="header-container logo-nav-container">
            <div class="search-bar">
                <input type="text" class="search-input" placeholder="Buscar en ML Ciudad Valles.."/>
                <span class="material-icons search-button">search</span>
            </div>
            <nav class="navigation">
                <ul>
                    <li><a href="#"><span class="material-icons clickable" title="Notificaciones">notifications</span></a></li>
                    <li><a href="#"><span class="material-icons clickable" title="Mi Cuenta">account_circle</span></a></li>
                    <li><a href="#"><span id="salir" class="material-icons clickable" title="Salir">exit_to_app</span></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="header-block"></div>
    <div class="pager-container"> 
        <figure id="view-pager"></figure>
    </div>

    <main class="main-w main-p">
        <div class="p-container">    
            <h3 class="text1">Los últimos productos</h3>
            <div id="products"></div>
        </div>
        <!--<div class="chatbox pos border">

            
            <div id="messages"></div>
            

            <input id="message-input" type="text" class="border" placeholder="type message"></input>
            <button id="message-button" class="border">Send</button>
        </div>
        -->
    </main>

    <div class="new-product" title="Publicar un producto">
        <a href="/new-product"><span class="material-icons">add</span></a>
    </div>

    <section id="sidebar-menu" class="side-bar">
        <div class="content">
                <a href="#" class="a-button"><span class="material-icons clickable" title="Mi Cuenta">account_circle </span><span class="b-text">Mi Cuenta</span></a>
                <a href="#" class="a-button"><span class="material-icons clickable" title="Mi Cuenta">monetization_on</span><span class="b-text">Fundador</span></a>
                <a href="new-product" class="a-button"><span class="material-icons clickable" title="Mi Cuenta">store          </span><span class="b-text">Publicar un Producto</span></a>
                <a href="#" class="a-button"><span class="material-icons clickable" title="Mi Cuenta">notifications  </span><span class="b-text">Notificaciones</span></a>
                <a href="#" class="a-button"><span class="material-icons clickable" title="Mi Cuenta">collections    </span><span class="b-text">Categorías</span></a>
                <a href="#" class="a-button"><span class="material-icons clickable" title="Mi Cuenta">help           </span><span class="b-text">Acerca de...</span></a>
        </div>
    </section>

    <script src="js/ws.js"></script>
    <script src="js/home.js"></script>
    
</body>
</html>
