<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Iniciar Sesión</title>
<meta charset="utf-8">
<meta name="keywords" content="chat, social, amigos">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0;">
<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">

<link href="https://fonts.googleapis.com/css?family=Rajdhani&display=swap" rel="stylesheet">
<link rel="stylesheet", href="css/home.css"></link>
<link rel='icon' href='https://res.cloudinary.com/djlzeapiz/image/upload/v1544741360/favicon.ico'></link>
</head>
<body>
    <header class="header">
        <div class="header-container logo-nav-container">
            <h1 class="logo"> API </h1>
            <nav class="navigation">
                <ul>
                    <li><a href="/registro" class="clickable">Registrarme</a></li>
                    
                    <li><span id="salir" class="clickable">Salir</span></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-w main-p pos">
        
            <div>
                    <h1 class="welcome">Bienvenido de nuevo</h1>
                    <div class="formulary">
                        <span>Correo Electrónico:</span>
                        <br>
                        <input id="email-login" class="field border" type="text"></input>
                        <br>
                        <span>Contraseña:</span>
                        <br>
                        <input id="password-login" class="field border" type="password"></input>
                        <br>
                        <button id="login-button" class="border field blue">Ingresar</button>
                    </div>
                </div>
        
    </main>

    <section class="r-section r-section-p r-section-w">
      
    </section>

    <script src="js/ws.js"></script>
    <script src="js/auth.js"></script>
    
</body>
</html>