<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Iniciar Sesión</title>
<meta charset="utf-8">
<meta name="keywords" content="chat, social, amigos">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0;">
<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">

<link href="https://fonts.googleapis.com/css?family=Rajdhani&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet", href="css/home.css"></link>
</head>
<body>
    <header class="header">
        <div class="header-container logo-nav-container">
            <h1>API</h1>
            <nav class="navigation">
                <ul>
                    <li><a href="/registro" class="material-icons clickable" title="Registrarme">account_circle</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="header-block"></div>

    <main class="main">
        <div class="form-decoration"></div>
        <form class="form">
            <h1 class="welcome">Bienvenido</h1>
            <div class="field-container">
                <span class="field">Correo Electrónico:</span>
                <br>
                <input id="email-login" class="field border" type="text"></input>
                <br>
                <span class="field">Contraseña:</span>
                <br>
                <input id="password-login" class="field border" type="password"></input>
                <br>
                <button id="login-button" class="button">Ingresar</button>
            </div>
        </form>
    </main>

    <section class="r-section r-section-p r-section-w">
      
    </section>

    <!--<script src="js/ws.js"></script>-->
    <script src="js/auth.js"></script>
    
</body>
</html>