<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vender</title>
</head>
<body>
    <header class="header">
        <span id="toggle-menu" class="material-icons menu">menu</span>
        <span id="toggled-menu" class="material-icons menu">menu_open</span>
        <div class="header-container logo-nav-container">
            <div class="search-bar">
                <input type="text" class="search-input" placeholder="Buscar en ML Ciudad Valles.."/>
                <span class="material-icons search-button">search</span>
            </div>
            <nav class="navigation">
                <ul>
                    <li><span class="material-icons clickable" title="Notificaciones">notifications</span></li>
                    <li><span class="material-icons clickable" title="Mi Cuenta">account_circle</span></li>
                    <li><span id="salir" class="material-icons clickable" title="Salir">exit_to_app</span></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="header-block"></div>
    
</body>
</html>