<!DOCTYPE html>
<html lang="es">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Registro</title>
<meta charset="utf-8">
<meta name="keywords" content="chat, social, amigos">
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0;">
<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0">


<link href="https://fonts.googleapis.com/css?family=Rajdhani&display=swap" rel="stylesheet">
<link rel="stylesheet", href="css/home.css"></link>
<link rel='icon' href='https://res.cloudinary.com/djlzeapiz/image/upload/v1544741360/favicon.ico'></link>
</head>
<body>
    <header class="header">
        <div class="header-container logo-nav-container">
            <h1 class="logo"> API </h1>
            <nav class="navigation">
                <ul>
                    <li><a href="/ingresar" class="clickable">Iniciar Sesión</a></li>
                    
                    <li><span id="salir" class="clickable">Salir</span></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="main-w main-p">
        
        <div>
            <h1 class="welcome">Gracias por registrarte con nosotros</h1>
            <div class="formulary">
                <span>Nombre de Usuario:</span>
                <br>
                <input id="username-register" class="field border" type="text"></input>
                <br>
                <span>Correo Electrónico:</span>
                <br>
                <input id="email-register" class="field border" type="text"></input>
                <br>
                <span>Contraseña:</span>
                <br>
                <input id="password-register" class="field border" type="password"></input>
                <br>
                <button id="signup-button" class="border field blue">Registrarme</button>
            </div>
        </div>
        
    </main>

    <section class="r-section r-section-p r-section-w">
      
    </section>

    <script src="js/ws.js"></script>
    <script src="js/auth.js"></script>
    
</body>
</html>