*{padding: 0; margin: 0; border: 0; box-sizing: border-box; }

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ebebeb;
}

a {
    text-decoration: none;
}

/**HEADER*/
.header {
    background-color: #D81B60;
    color: #FFF;
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 0.5rem;
    z-index: 100;
    display: inline-flex;
}

.header-container {
    width: 85%;
    margin: 0 auto;
}

.menu {
    margin: auto 12px;
    cursor: pointer;
}

.search-bar {
    display: flex;
    width: 55%;
    height: 60px;
}
.search-input {
    margin: auto;
    padding: 7px;
    border-radius: 2px;
    width: 93%;
}

.search-button {
    margin: auto;
    cursor: pointer;
}

.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul{
    list-style: none;
}

    .navigation ul li {
        display: inline-block;
    }

        .navigation ul li span,a {
            display: block;
            padding: 8px;
            transition: all 0.4s linear;
            border-radius: 3px;
            cursor: pointer;
        }
            .navigation ul li span:hover,a:hover {
                background-color: black;
                color: white;
            }

/**Main Stuff */
.main-w {
    width: 100%;
    padding-top: 65px; 
}



.welcome {
    text-align: center;
    margin: 20px;
    padding: 100px 20px 20px 20px;
    font-size: 3em;
    font-family: 'Rajdhani', sans-serif;
}

/**Main Image*/

/**Messages area*/
.chatbox {
    position: fixed;
    height: 90%;
    bottom: 0px;
}

.border {
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 3px;
}

#message-input {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 84%;
    padding: 10px;
    margin: 3px;
}

#message-button {
    position: absolute;
    background-color: #131410;
    color: aliceblue;
    bottom: 0px;
    right: 0px;
    width: 14%;
    padding: 10px 5px;
    margin: 3px;
}

#messages-container {
    width: 100%;
    
}

#messages {
    position: absolute;
    padding: 5px;
    width: 100%;
    height: 93%;
    overflow-y: auto;
}

.senderMessage {
    background-color: #00acc1;
    color: white;
    border-radius: 8px;
    padding: 8px;
    margin: 3px;
    display: table;
    box-sizing: border-box;
    text-align: right;
    margin-right: 0px;
    margin-left: auto;
}

.incomingMessage {
    background-color: #305ef7;
    color: white;
    border-radius: 8px;
    padding: 8px;
    margin: 3px;
    display: table;
    margin-right: auto;
    margin-left: 30px;
}

.profileImage {
    width: 30px;
    border-radius: 50%;
}

.timestamp {
    color: #686767;
    font-size: 10px;
    margin-left: 30px;
    margin-right: auto;
}

.timestamp-right {
    display: table;
    color: #686767;
    font-size: 10px;
    margin-left: auto;
    margin-right: 0px;
}

.username {
    margin: 10px;
}



/**Utils*/

.field {
    padding: 5px;
    margin: 5px;
}

.formulary {
    padding: 20px;
    text-align: center;
}

.blue {
    color: white;
    background-color: #3c6cd3;
}

/************* GRID **************/
/*corto*/
/*@media only screen and (min-width: 368px) {
    .pos {
        width: 100%;
    }

    .main-p {
        position: absolute;
        bottom: 0px;
        left: 0%;
        height: 100%;
    }
}
/*Mediano*/
/*@media only screen and (min-width: 568px) {
    .pos {
        width: 100%;
    }

    .main-p {
        position: absolute;
        bottom: 0px;
        left: 0%;
        height: 100%;
    }
}
/*Largo*/
/*@media only screen and (min-width: 768px) {
    .pos {
        width: 75%;
    }

    .main-p {
        position: absolute;
        bottom: 0px;
        left: 10%;
        height: 100%;
    }
}
/*Extra largo*//*
@media only screen and (min-width: 968px) {
    .pos {
        width:70%;
    }

    .main-p {
        position: absolute;
        bottom: 0px;
        left: 15%;
        height: 100%;
    }
}*/

.main-w {
    display: grid;
    place-items: center;
}

.p-container {
    width: 90%;
}

/**Products*/
#products {
    display: grid;
    place-items: center;
    grid-gap: 1rem;
    grid-template-columns: repeat(5,1fr);
}

/**Product Card*/
.card {
    box-shadow: 0 4px 8px 0 rgba(117, 116, 116, 0.2);
    background-color: #FFF;
    max-width: 200px;
    min-height: 270px;
    margin: 10px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
  }

  .card:hover {
      box-shadow: 0 6px 10px 4px rgb(44, 42, 42);
      background-color: #4285f4;
      color: #FFF;
      transition: linear 0.15s;
  }

  .img-container {
    display: grid;
    place-items: center;
    height: 200px;
    border-bottom: solid 1px #ebebeb;
  }

  .cardImage {
      max-width: 200px;
  }

  .product-info-container {
    margin: 25px 0;
    display: grid;
    place-items: center;
    height: 100px;
  }
  
  .price {
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }



  /**View Pager*/

  #view-pager {
      display: grid;
      place-items: center;
      position: relative;
      top: 70px;
      width: 100%;
      height: 300px;
  }

  .page {
      height: 100%;
      border-radius: 6px;
      cursor: pointer;
  }


  /**New Product Button*/
  .new-product {
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 65px;
      height: 65px;
      border-radius: 50%;
      background-color: #FFF;
      box-shadow: 0 8px 12px 8px rgba(117, 116, 116, 0.2);
      cursor: pointer;
      display: grid;
      place-items: center;
  }

  .new-product:hover {
    box-shadow: 0 8px 12px 8px rgba(26, 25, 25, 0.2);
    background-color: #D81B60;
    color: #FFF;
    transition: linear 0.2s;
  }


  /**Texts*/
  .text1 {
      margin: 10px;
      color: #686767;
  }